
{% block app_datetimepicker_widget %}
    {% spaceless %}
        <div class="input-group date" data-toggle="datetimepicker">
            {{ block('datetime_widget') }}
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    {% endspaceless %}
{% endblock %}
